name: Build and push to ECR
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master
    paths-ignore:
      - .github/**

permissions:
  id-token: write
  contents: read

defaults:
  run:
    shell: bash

env:
  SERVICE_NAME: genies-admin

jobs:
  build:
    strategy:
      matrix:
        env: [dev, qa, production]
    uses: geniesinc/security-pipelines/.github/workflows/build_and_push.yaml@main
    with: 
      root: "."
      service: genies-admin
      isReact: true
      environment: ${{ matrix.env }}
      args: "ENV_FILE=.env.${{ matrix.env }}"
    secrets: inherit

  post-build:
    runs-on:
      group: genies-runners
    name: Build Summary
    needs: build
    steps:
      - uses: actions/checkout@v3
        with:
          repository: geniesinc/cicd-actions
          ref: main
          token: ${{ secrets.PRIVATE_REPO_ACCESS_TOKEN }}
          path: ./.github/cicd
      - uses: ./.github/cicd/actions/build_summary
        with:
          service_name: genies-admin
          image_tag: ${{ needs.build.outputs.release_version }}
          slack_webhook_url: ${{ secrets.CICD_SLACK_WEBHOOK_URL }}

  workflow-dispatch:
    runs-on:
      group: genies-runners
    name: Workflow Dispatch
    needs: build
    steps:
    - name: Update image tags on GitOps repo
      uses: benc-uk/workflow-dispatch@v1
      with:
        workflow: Update image tags
        repo: geniesinc/gitops
        ref: main
        token: ${{ secrets.PRIVATE_REPO_ACCESS_TOKEN }}
        inputs: '{ "environment": "dev", "image_tag": "dev-${{ needs.build.outputs.release_version }}", "source_repo": "genies-admin" }'
