name: Container Scanning
on: 
  pull_request:
    branches: 
      - master 
      - main
    types:
      - opened
      - synchronize
      - reopened
    paths-ignore:
      - .github/**

permissions:
  id-token: write
  contents: read

jobs:
  scanning:
    strategy:
      matrix:
        env: [
          {ENV_FILE: ".env.dev"},
          {ENV_FILE: ".env.qa"},
          {ENV_FILE: ".env.production"}
        ]
    uses: geniesinc/security-pipelines/.github/workflows/container_scan.yaml@main
    with: 
      root: "."
      args: "ENV_FILE=${{ matrix.env.ENV_FILE }}"
    secrets: inherit
